@font-face {
    font-family: 'Castoro';
    src: url('Castoro-Regular.woff2') format('woff2'),
        url('Castoro-Regular.woff') format('woff'),
        url('Castoro-Regular.ttf') format('truetype'),
        url('Castoro-Regular.svg#Castoro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Castoro';
    src: url('Castoro-Italic.woff2') format('woff2'),
        url('Castoro-Italic.woff') format('woff'),
        url('Castoro-Italic.ttf') format('truetype'),
        url('Castoro-Italic.svg#Castoro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

