@import "density";

$base: 100vh;


@media only screen and (min-width: 1024px) and (min-width: $base * 1.3333) {
    body {
        width: calc(100vh * 1.3333);
        margin: auto;
    }
    .nav_side_body {
        width: calc((100vh * 1.3333) / 2);

    }
    .nav_body {
        width: calc(100vh * 1.3333);

        &::before {
            width: calc((100vh * 1.3333) / 2);
        }
    }
    .col.col_0 {
        // padding-top: 0px;
    }

    .span.span_2 {
        margin-bottom: 5rem;
    }

}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    body {
        width: 100%;
        margin: auto;
    }
    .nav_body {
        width: 100%;

        &::before {
            width: calc(100% / 2);
        }
    }
    @media (min-width:1440px) { 
        body {
            width: calc(100vh * 1.3333);
            margin: auto;
        }
        .nav_body {
            width: calc(100vh * 1.3333);
    
            &::before {
                width: calc((100vh * 1.3333) / 2);
            }
        }
    }


    .mobile_app_jpg {
        min-height: 90vh;
        width: calc(90vh * 0.5634);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1em;
        margin-top: 6rem;
    }

    .col.col_2 {
   
        > :nth-child(1),
        > :nth-child(2) {
            display: flex;
            opacity: 0 ;
            pointer-events: none;
        }
    
        > :nth-child(3),
        > :nth-child(4) {
            display: flex;
            opacity: 1;
            pointer-events: all;
        }
    
        &.next_isparent {
    
            > :nth-child(1),
            > :nth-child(2) {
                display: flex;
                opacity: 1 ; 
                pointer-events: all;
    
            }
    
            > :nth-child(3),
            > :nth-child(4) {
                display: flex;
                opacity: 0 ;
                pointer-events: none;
            }
        }
    }

}